.star img::before
{
    content: '';
    height: 5px;
    width: 30px;
    background-color: #000;
    
}

.my-btn
{

}
/* JUMBOTRON */

#jumbotron-sect
{
    background-color: #1ABC9C;
}

#jumbotron-sect .jumbo-img
{
    max-width: 200px
}


/* PORTFOLIO */
#portfolio-sect .content
{
    padding: 20px;
}
#portfolio-sect .content img
{
    max-width: 100%;
}

/* ABOUT */

#about-sect
{
    background-color: #1abc9c;
}


.bg-blue
{
    background-color: #3A546D;
}

.bg-dark-blue
{
    background-color: #2C3E50;
}