/* JUMBOTRON */

#jumbotron-sect
{
    height: 400px;
    background-color: #1ABC9C;
}

#jumbotron-sect .jumbo-content
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#jumbotron-sect .jumbo-content .box
{
    height: 300px;
    width: 300px;
    background-color: red;
}
/* PORTFOLIO */
#portfolio-sect .content
{
    height: 100px;
    width: 100%;
    padding: 20px;
    background-color: #0f0;
    justify-self: center;
}

/* ABOUT */

#about-sect
{
    height: 400px;
    background-color: #1abc9c;
    color: #fff;
}
#about-sect .content
{
    height: 200px;
    background-color: #fff;
}