/* HEADER */

header
{
    height: 50px;
    background-color: #2C3E50;
    color: #fff;
}

.header-menu
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-menu li
{
    list-style-type: none;
    padding: 0 20px;
}
.header-menu  a
{
    text-decoration: none;
    color: #fff;
}

.header-row
{
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

/* JUMBOTRON */

#jumbotron-sect
{
    height: 400px;
    background-color: #1ABC9C;
}

#jumbotron-sect .jumbo-content
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#jumbotron-sect .jumbo-content .box
{
    height: 300px;
    width: 300px;
    background-color: red;
}